// https://gist.github.com/gajus/043ccd1af440161b4fba
{
    "rules": {
        "no-console": 0,
        "no-extra-parens": 2,
        "no-eq-null": 2,
        "no-extend-native": 2,
        "no-process-env": 2,
        "no-self-compare": 2,
        "space-in-parens": [
            2,
            "never"
        ],
        "no-redeclare": [
            2,
            {
                "builtinGlobals": true
            }
        ],
        "space-unary-ops": [
            2,
            {
                "words": true,
                "nonwords": false
            }
        ],
        "init-declarations": [
            2,
            "never"
        ],
        "spaced-comment": [
            2,
            "always"
        ],
        "newline-after-var": [
            2,
            "always"
        ],
        "one-var": [
            2,
            "always"
        ],
        "arrow-spacing": [
            2,
            {
                "before": true,
                "after": true
            }
        ],
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": [
            2,
            "always"
        ],
        "prefer-arrow-callback": 2,
        "arrow-parens": [
            2,
            "always"
        ],
        "prefer-spread": 2,
        "prefer-reflect": 2,
        "prefer-template": 2,
        "no-underscore-dangle": 2,
        "no-void": 2,
        "no-warning-comments": [
            1,
            {
                "terms": [
                    "todo",
                    "@toto"
                ],
                "location": "start"
            }
        ],
        "vars-on-top": 2,
        "wrap-iife": [
            2,
            "inside"
        ],
        "new-cap": [
            2,
            {
                "newIsCap": true,
                "capIsNew": false
            }
        ],
        "no-shadow": 2,
        "no-mixed-requires": 0,
        "no-new-require": 2,
        "comma-style": [
            2,
            "last"
        ],
        "func-style": [
            2,
            "expression"
        ],
        "no-continue": 2,
        "no-inline-comments": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [
            2,
            {
                "max": 2
            }
        ],
        "no-nested-ternary": 2,
        "padded-blocks": [
            2,
            "never"
        ],
        "quote-props": [
            2,
            "as-needed"
        ],
        "quotes": [
            2,
            "single"
        ]
    },
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "es6": true
    }
}
