button,
input {
    display: inline-block; outline: none; font: inherit; border: none; background: rgba(255,255,255,.5); padding: 0;
}

button {
    color: #C7433E; cursor: pointer;
}

input {
    width: 50px;
}